---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
const allTags = blogPosts.reduce((acc, post) => {
  post.data.tags?.forEach((tag) => {
    if (!acc.includes(tag)) {
      acc.push(tag);
    }
  });
  return acc;
}, []);
---

<Layout title="Home">
  <main class="container flex-1 px-4 mx-auto">
    <section class="mt-12">
      <h1 class="mb-6 text-2xl font-semibold">Posts</h1>
      <ul class="mt-4">
        {
          blogPosts.map((post) => (
            <li class="mt-4 first:mt-0">
              <time
                datetime="2024-08-25T00:00:00.000Z"
                title="2024-08-25T00:00:00.000Z"
                class="text-sm font-light text-stone-600 "
              >
                25 Aug 2024
              </time>
              <a
                href={`/blog/${post.id}`}
                class="text-sm underline hover:text-blue-700"
              >
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <!-- <section class="mt-12">
      <h2 class="text-xl font-bold">Tags</h2>
      <ul class="flex flex-wrap">
        {
          allTags.map((tag) => (
            <li class="mr-2">
              <a href={`/blog/tags/${tag}`} class="text-sm underline hover:text-blue-700">
                #{tag}
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/tags" class="text-sm hover:text-blue-700"
        >All tags <Icon name="tabler:arrow-right" class="inline" /></a
      >
    </section> -->
  </main>
</Layout>
