---
import { Image } from "astro:assets";
---

<section id="experience" class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
    <div class="mb-8 max-w-screen-md lg:mb-16">
      <h2
        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        My work experience
      </h2>
      <p class="text-gray-500 dark:text-gray-400 sm:text-xl">
        I've had the pleasure of working with some amazing companies and
        talented individuals. Here are a few of the highlights from my career.
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3"
    >
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <svg
            class="h-6 w-6 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
            width="192"
            height="192"
            viewBox="0 0 192 192"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_49_593)">
              <path
                d="M91.0001 0V31H102V0H91.0001ZM133 0C133 4.14833 133.735 9.17764 131.821 13C127.698 21.2321 116.502 25.1466 109 29.5972C106.381 31.1507 102.673 32.5559 101.028 35.2631C99.3835 37.9692 100 41.9771 100 45V68C109.726 64.9223 119.236 58.1831 128 52.9854C132.222 50.4816 136.841 47.6609 138.91 42.9853C140.763 38.7998 140 33.4651 140 29V0H133ZM52.0001 112H82.0001V92C82.0001 88.8428 81.4641 85.024 82.6035 82.0147C84.3346 77.4423 90.3546 76.3241 91.6822 71.7901C92.6381 68.5257 92.0001 64.3712 92.0001 61V40C82.4491 43.4757 73.7715 49.7088 65.0001 54.7747C60.7205 57.2463 55.5618 59.3755 53.1791 64.0147C50.9952 68.2667 52.0001 74.3676 52.0001 79V112ZM91.0001 79V112H102V79H91.0001ZM110 80V100C110 103.155 110.539 106.978 109.397 109.985C107.654 114.573 101.642 115.56 100.318 120.185C99.3765 123.473 100 127.609 100 131V152C109.722 148.441 119.122 141.928 128 136.6C131.854 134.288 136.456 132.083 138.682 127.96C140.981 123.701 140 117.673 140 113V80H110ZM52.0001 192H59.0001C59.0001 187.855 58.2611 182.818 60.1791 179.001C64.2589 170.881 75.583 166.803 83.0001 162.403C85.6187 160.849 89.3273 159.444 90.9723 156.737C92.6167 154.031 91.9999 150.023 92.0001 147V124C83.4461 126.66 75.8148 132.399 68.0001 136.694C62.5176 139.708 55.7688 142.96 53.0896 149.015C51.2374 153.2 52.0001 158.535 52.0001 163V192ZM91.0001 160V191H102V169C101.995 166.58 102.564 162.745 100.397 161.028C98.1288 159.231 93.7032 160 91.0001 160Z"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_49_593">
                <rect width="192" height="192" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          <a href="https://netimpactstrategies.com">NetImpact Strategies</a>
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Spearheaded Figma training for design adoption, organized development
          tasks in Azure DevOps, and collaborated on resolving issues with
          ServiceNow development teams.
        </p>
      </div>
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <svg
            class="h-6 w-6 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
            width="192"
            height="192"
            viewBox="0 0 192 192"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_49_593)">
              <path
                d="M91.0001 0V31H102V0H91.0001ZM133 0C133 4.14833 133.735 9.17764 131.821 13C127.698 21.2321 116.502 25.1466 109 29.5972C106.381 31.1507 102.673 32.5559 101.028 35.2631C99.3835 37.9692 100 41.9771 100 45V68C109.726 64.9223 119.236 58.1831 128 52.9854C132.222 50.4816 136.841 47.6609 138.91 42.9853C140.763 38.7998 140 33.4651 140 29V0H133ZM52.0001 112H82.0001V92C82.0001 88.8428 81.4641 85.024 82.6035 82.0147C84.3346 77.4423 90.3546 76.3241 91.6822 71.7901C92.6381 68.5257 92.0001 64.3712 92.0001 61V40C82.4491 43.4757 73.7715 49.7088 65.0001 54.7747C60.7205 57.2463 55.5618 59.3755 53.1791 64.0147C50.9952 68.2667 52.0001 74.3676 52.0001 79V112ZM91.0001 79V112H102V79H91.0001ZM110 80V100C110 103.155 110.539 106.978 109.397 109.985C107.654 114.573 101.642 115.56 100.318 120.185C99.3765 123.473 100 127.609 100 131V152C109.722 148.441 119.122 141.928 128 136.6C131.854 134.288 136.456 132.083 138.682 127.96C140.981 123.701 140 117.673 140 113V80H110ZM52.0001 192H59.0001C59.0001 187.855 58.2611 182.818 60.1791 179.001C64.2589 170.881 75.583 166.803 83.0001 162.403C85.6187 160.849 89.3273 159.444 90.9723 156.737C92.6167 154.031 91.9999 150.023 92.0001 147V124C83.4461 126.66 75.8148 132.399 68.0001 136.694C62.5176 139.708 55.7688 142.96 53.0896 149.015C51.2374 153.2 52.0001 158.535 52.0001 163V192ZM91.0001 160V191H102V169C101.995 166.58 102.564 162.745 100.397 161.028C98.1288 159.231 93.7032 160 91.0001 160Z"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_49_593">
                <rect width="192" height="192" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          <a href="https://netimpactstrategies.com">NetImpact Strategies</a>
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Modernized HR workflows through Microsoft Power Platform, enhancing
          app performance and optimizing automation flows for better usability
          and reusability.
        </p>
      </div>
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <Image
            src="https://upload.wikimedia.org/wikipedia/commons/c/c5/SAIC_Logo_2013-05-10.svg"
            alt="SAIC"
            width="100"
            height="100"
            class="h-7 w-7 text-primary-600 dark:text-primary-300"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          <a href="https://www.saic.com">SAIC</a>
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Developed a talent profiling database by leveraging NLP for data
          mining and semantic search to aid leadership in RFP responses.
        </p>
      </div>
    </div>
  </div>
</section>
