---

---

<section id="contact" class="container mx-auto px-4 py-8 sm:py-16 lg:px-6">
  <div class="mx-auto max-w-screen-sm text-center">
    <h2
      class="mb-4 text-4xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
    >
      Get in touch
    </h2>
    <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">
      Feel free to send me an email if you have any questions or just want to
      say hi.
    </p>
    <a
      href="mailto:karan@karanravindra.me"
      target="_blank"
      class="mb-2 mr-2 rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >Send me an email</a
    >
  </div>
</section>
