---
import { Image } from "astro:assets";
import img from "../../imgs/rescue911-light.webp";
---

<section
  id="projects"
  class="container mx-auto px-4 py-8 sm:py-16 lg:px-6 lg:py-24"
>
  <div class="mx-auto max-w-2xl text-center">
    <h2
      class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-4xl dark:text-white"
    >
      My projects
    </h2>
    <p
      class="mt-4 text-base font-normal text-gray-500 sm:text-xl dark:text-gray-400"
    >
      Here are some of the projects I've worked on. I'm always looking for new
      opportunities to learn and grow.
    </p>
  </div>

  <div
    class="mt-12 grid grid-cols-1 gap-12 sm:mt-16 sm:grid-cols-2 sm:gap-8 lg:grid-cols-3 lg:gap-16"
  >
    <div>
      <article
        class="mb-6 hidden w-full rounded-lg object-cover shadow-lg sm:block"
      >
        <a
          href="https://karanravindra-digitnet.hf.space"
          class="relative z-0 mx-auto flex aspect-[4/3] flex-col items-center justify-center overflow-hidden rounded-xl bg-gradient-to-br from-yellow-600 to-indigo-600 p-4 filter hover:brightness-110"
        >
          <div class="absolute mb-2 text-7xl opacity-60 drop-shadow-xl">📈</div>
          <h4
            class="z-40 max-w-full truncate text-center text-2xl font-bold leading-tight text-blue-50"
            style="text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);"
          >
            DigitNet
          </h4>
        </a>
      </article>
      <div class="mb-6 space-y-3">
        <span
          class="inline-flex items-center rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300"
        >
          <svg
            aria-hidden="true"
            class="mr-1 h-3 w-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            height="20"
            width="20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M9.504 1.132a1 1 0 01.992 0l1.75 1a1 1 0 11-.992 1.736L10 3.152l-1.254.716a1 1 0 11-.992-1.736l1.75-1zM5.618 4.504a1 1 0 01-.372 1.364L5.016 6l.23.132a1 1 0 11-.992 1.736L4 7.723V8a1 1 0 01-2 0V6a.996.996 0 01.52-.878l1.734-.99a1 1 0 011.364.372zm8.764 0a1 1 0 011.364-.372l1.733.99A1.002 1.002 0 0118 6v2a1 1 0 11-2 0v-.277l-.254.145a1 1 0 11-.992-1.736l.23-.132-.23-.132a1 1 0 01-.372-1.364zm-7 4a1 1 0 011.364-.372L10 8.848l1.254-.716a1 1 0 11.992 1.736L11 10.58V12a1 1 0 11-2 0v-1.42l-1.246-.712a1 1 0 01-.372-1.364zM3 11a1 1 0 011 1v1.42l1.246.712a1 1 0 11-.992 1.736l-1.75-1A1 1 0 012 14v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-.504.868l-1.75 1a1 1 0 11-.992-1.736L16 13.42V12a1 1 0 011-1zm-9.618 5.504a1 1 0 011.364-.372l.254.145V16a1 1 0 112 0v.277l.254-.145a1 1 0 11.992 1.736l-1.735.992a.995.995 0 01-1.022 0l-1.735-.992a1 1 0 01-.372-1.364z"
              clip-rule="evenodd"></path>
          </svg>
          Machine Learning
        </span>
        <h3
          class="text-2xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          <a
            href="https://github.com/karanravindra/digitnet"
            class="hover:underline">DigitNet</a
          >
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          DigitNet is a MNIST digit recognition model built using PyTorch. Try
          it using the Gradio Space below.
        </p>
      </div>
      <div class="flex items-center gap-4">
        <a
          href="#"
          title="Case study comming soon"
          class="btn-blue"
          role="button"
        >
          Case study
        </a>

        <a
          href="https://karanravindra-digitnet.hf.space"
          title="Gradio Space"
          class="inline-flex shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
          role="button"
        >
          <svg
            aria-hidden="true"
            class="-ml-1 mr-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            height="20"
            width="20"
            fill="currentColor"
          >
            <path
              d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
            ></path>
            <path
              d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
            ></path>
          </svg>
          Live preview
        </a>
      </div>
    </div>

    <div>
      <article
        class="mb-6 hidden w-full rounded-lg object-cover shadow-lg sm:block"
      >
        <a
          href="https://karanravindra-digitdreamer.hf.space"
          class="relative z-0 mx-auto flex aspect-[4/3] flex-col items-center justify-center overflow-hidden rounded-xl bg-gradient-to-br from-green-600 to-gray-600 p-4 filter hover:brightness-110"
          ><div
            class="absolute left-0 top-0 h-24 w-1/2 bg-gradient-to-br from-black/20 via-transparent to-transparent"
          >
          </div>
          <div class="absolute mb-2 text-7xl opacity-60 drop-shadow-xl">🐢</div>
          <h4
            class="z-40 max-w-full truncate text-center text-2xl font-bold leading-tight text-blue-50"
            style="text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);"
          >
            DigitDreamer
          </h4>
        </a>
      </article>

      <div class="mb-6 space-y-3">
        <span
          class="inline-flex items-center rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300"
        >
          <svg
            aria-hidden="true"
            class="mr-1 h-3 w-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            height="20"
            width="20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M9.504 1.132a1 1 0 01.992 0l1.75 1a1 1 0 11-.992 1.736L10 3.152l-1.254.716a1 1 0 11-.992-1.736l1.75-1zM5.618 4.504a1 1 0 01-.372 1.364L5.016 6l.23.132a1 1 0 11-.992 1.736L4 7.723V8a1 1 0 01-2 0V6a.996.996 0 01.52-.878l1.734-.99a1 1 0 011.364.372zm8.764 0a1 1 0 011.364-.372l1.733.99A1.002 1.002 0 0118 6v2a1 1 0 11-2 0v-.277l-.254.145a1 1 0 11-.992-1.736l.23-.132-.23-.132a1 1 0 01-.372-1.364zm-7 4a1 1 0 011.364-.372L10 8.848l1.254-.716a1 1 0 11.992 1.736L11 10.58V12a1 1 0 11-2 0v-1.42l-1.246-.712a1 1 0 01-.372-1.364zM3 11a1 1 0 011 1v1.42l1.246.712a1 1 0 11-.992 1.736l-1.75-1A1 1 0 012 14v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-.504.868l-1.75 1a1 1 0 11-.992-1.736L16 13.42V12a1 1 0 011-1zm-9.618 5.504a1 1 0 011.364-.372l.254.145V16a1 1 0 112 0v.277l.254-.145a1 1 0 11.992 1.736l-1.735.992a.995.995 0 01-1.022 0l-1.735-.992a1 1 0 01-.372-1.364z"
              clip-rule="evenodd"></path>
          </svg>
          Machine Learning
        </span>
        <h3
          class="text-2xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          <a
            href="https://github.com/karanravindra/digitdreamer"
            class="hover:underline">DigitDreamer</a
          >
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          DigitDreamer is a DDIM Latent Diffusion Model model built using
          PyTorch. Try it using the Gradio Space below.
        </p>
      </div>
      <div class="flex items-center gap-4">
        <a
          href="#"
          title="Case study comming soon"
          class="btn-blue"
          role="button"
        >
          Case study
        </a>

        <a
          href="https://karanravindra-digitdreamer.hf.space"
          title="Gradio Space"
          class="inline-flex shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
          role="button"
        >
          <svg
            aria-hidden="true"
            class="-ml-1 mr-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            height="20"
            width="20"
            fill="currentColor"
          >
            <path
              d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
            ></path>
            <path
              d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
            ></path>
          </svg>
          Live preview
        </a>
      </div>
    </div>

    <div>
      <Image
        src={img}
        alt="Rescue911 dashboard"
        height="300"
        width="400"
        decoding="async"
        loading="lazy"
        class="mb-6 hidden aspect-[4/3] w-full rounded-lg object-cover shadow-lg sm:block"
      />
      <div class="mb-6 space-y-3">
        <span
          class="inline-flex items-center rounded bg-indigo-100 px-2.5 py-0.5 text-xs font-medium text-indigo-800 dark:bg-indigo-900 dark:text-indigo-300"
        >
          <svg
            aria-hidden="true"
            class="mr-1 h-3 w-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            height="20"
            width="20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M4 2a2 2 0 00-2 2v11a3 3 0 106 0V4a2 2 0 00-2-2H4zm1 14a1 1 0 100-2 1 1 0 000 2zm5-1.757l4.9-4.9a2 2 0 000-2.828L13.485 5.1a2 2 0 00-2.828 0L10 5.757v8.486zM16 18H9.071l6-6H16a2 2 0 012 2v2a2 2 0 01-2 2z"
              clip-rule="evenodd"></path>
          </svg>
          Figma design
        </span>
        <h3
          class="text-2xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          <a href="#" class="hover:underline">Rescue911</a>
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Rescue911 is a web application prototype made in Figma for a private
          emergency services company.
        </p>
      </div>
      <div class="flex items-center gap-4">
        <a
          href="#"
          title="Case study comming soon"
          class="btn-blue"
          role="button"
        >
          Case study
        </a>

        <a
          href="#"
          title=""
          class="inline-flex shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
          role="button"
        >
          <svg
            aria-hidden="true"
            class="-ml-1 mr-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            height="20"
            width="20"
            fill="currentColor"
          >
            <path
              d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
            ></path>
            <path
              d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
            ></path>
          </svg>
          Live preview
        </a>
      </div>
    </div>
  </div>
</section>
